# ignore netbeans specific stuff
nbproject

# Can we agree to install binstubs as `bundle install --binstubs=b`?
b/

# ignore Rubymine
.idea

.rvmrc
.bundle
tmp
db/

# jedit
*~

# vim
.*.sw[a-z]

Gemfile.lock
coverage

