# ignore netbeans specific stuff
nbproject

# Can we agree to install binstubs as `bundle install --binstubs=b`?
b/

# ignore Rubymine
.idea

.rvmrc
.bundle
tmp
db/
pkg/

neo4j-db
log
doc
target/
neo4j/
.yardoc
# jedit
*~
.ruby-version

# vim
.*.sw[a-z]

Gemfile.lock
coverage

