<html>                                                                  
<head>                                                                  
<script type="text/javascript" src="jquery.js"></script>     
<script type="text/javascript" src="neo_admin.js"></script>     
</head>                                                                 
<body>                                                                  
  <textarea id="editor" rows="10" cols="20">
	class Person
	  include Neo4j::NodeMixin
	  # by includeing the following mixin we will expose this node as a RESTful resource
	  include RestMixin
	  property :name
	  has_n :friends
	end
	puts 'Hello World from Person'
  </textarea>
  <a href="">send</a>
  <div id="statusbar" ></div>

</body>                                                                 
</html>
